.slide-container {
    position: relative;
    padding: 5px;
}
.slide-strip,
.slide-handle {
    border: 1px solid #999;
}
.slide-strip {
    height: 10px;
    margin: 2px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.slide-handle {
    position: absolute;
    background: #ccc;
    height: 14px;
    width: 14px;
    left: 0;

    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
}
.slide-fill {
    background: #ccf;
}